<h1>Bands</h1>

<h5>View:</h5>
<% if @bands.any?() %>
  <% @bands.each() do |band| %>
    <a href="/bands/<%= band.id() %>"><%= band.name() %></a><br>
  <% end %>
<% else %>
  <p>No bands yet</p>
<% end %>

<p>Add a new band</p>
<form action="/bands" method="post">
  <input id="name" name="name" type="text" placeholder="Band Name">
  <input id="city" name="city" type="text" placeholder="City">
  <input id="state" name="state" type="text" placeholder="State">


  <button type="submit" class="btn-primary">Add Band</button>
</form>
